

<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Image Search</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
            <button type="submit" nbButton status="primary" (click)="search()">Search</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <nb-card>
    <nb-card-header>
      Results
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  